h1{
	font-family: "Marker Felt", "Fantasy", fantasy;
	color: white ;

	
}

a{
	font-family: "Marker Felt", "Fantasy", fantasy;
	color: white ;	
}

body {
    font-family: "Marker Felt", "Fantasy", fantasy;
    color: white ;
    background-image: url(images/background.jpg);
}

p{
    font-family: "Marker Felt", "Fantasy", fantasy;
    color: white ;	
	
}